<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739577138311-u0as09gjf7rt17ov008odlk5pvqsen3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739577138311-u0as09gjf7rt17ov008odlk5pvqsen3u</string>
	<key>API_KEY</key>
	<string>AIzaSyBb7OFALr813oPAxRt6c5EtILXOwaZv8Js</string>
	<key>GCM_SENDER_ID</key>
	<string>739577138311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationDemo</string>
	<key>PROJECT_ID</key>
	<string>flutterphotomanagerdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterphotomanagerdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739577138311:ios:c047c3e91e55f90a1b3c22</string>
</dict>
</plist>